<html>
  <head>
    <title>Curto.co</title>
    <link rel='stylesheet' type='text/css' href='/app.css'>
    <link rel='stylesheet' type='text/css' href='/index.css'>
  </head>

  <body>
    <form action='/' method='POST' id='content'>
      <h1>Curto.co</h1>
      <input type='text' name='url' placeholder='http://exemplo.com.br/' autofocus>
      <input type='text' name='code' placeholder='Código'>
      <input type='submit' value='Encurtar'>
    </form>
  </body>
</html>
