<html>
  <head>
    <title>Curto.co</title>
  </head>

  <body>
    <h1>Curto.co</h1>
    <form action='/' method='POST'>
      <p>
        URL:
      </p>
      <input type='text' name='url'/><br/>

      <p>
        CODE:
      </p>
      <input type='text' name='code'></input><br/>

      <p>
        <input type='submit'/>
      </p>
    </form>
  </body>
</html>
