<html>
  <head>
    <title>Curto.co</title>
    <link rel='stylesheet' type='text/css' href='/app.css'>
    <link rel='stylesheet' type='text/css' href='/link.css'>
  </head>
  </head>

  <body>
    <div id='content'>
      <h1>Curto.co</h1>

      <input value='<%= @new_url %>' id='url' readonly autofocus>
      <p id='error'><%= @error %></p>

      <p id='back'>
        <a href='/'>Voltar</a>
      </p>
    </div>
  </body>
</html>
